* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  /* centraliza em linha */
  margin-bottom: 20px;
}

img {
  width: 100px;
}

h1 {
  font-family: "Fjalla One", sans-serif;
}